* {
    font-family: sans-serif;
    color: #444444;
}

.container {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    width: 50%;
    max-width: 450px;
    height: 50%;
    max-height: 650px;
    padding: 25px;
    border: 3px solid green;

}

#title {
    text-align: center;
    color: black;
}

#checkbox {
    display: inline;
    font-size: 12px;
    max-width: 10px;
    border-collapse: collapse;
    cursor: pointer;
}

.form {
    position: absolute;
    top: 10; bottom: 0; left: 0; right: 0;
    margin: 15%;
    border: 1px solid grey;
    background-color: whitesmoke;
    padding: 40px 20px
}

input {
    border: 2px solid #444444;
    background-color: whitesmoke;
    border-radius: 0.3em;
    font-size: 1rem;
    margin: 0.25rem;
    /* min-width: 125px; */
    padding: 0.5rem;
}

#register-button {
    display: inline;
    background-color: blue;
    color: whitesmoke;
    float: right;
}