input {
    border: 2px solid;
    background-color: whitesmoke;
    border-radius: 0.3em;
    font-size: 1rem;
    margin: 0.25rem;
    min-width: 125px;
    padding: 0.5rem;
    /* transition: border-color 0.05s ease-out; */
  }
 
